<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
 	<title>C4</title>
	<link rel="stylesheet" type="text/css" href="/static/lib/weui/style/weui.css">
	<link rel="stylesheet" type="text/css" href="/static/css/app-Qy.css">

</head>
<body ontouchstart>
	<div class="logo-page">
		<img class="uband-logo" src="/static/img/uband-logo.png">
	</div>
	<!--end of logo--> 
	<div class="weui-navbar">
        <div class="weui-navbar__item">
            个人介绍
        </div>
        <div class="weui-navbar__item weui-bar__item_on">
            每日新鲜
        </div>
        <div class="weui-navbar__item">
            读书笔记
        </div>
        <div class="weui-navbar__item">
            旅行记忆
        </div>
    </div>
	
	<div>
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="/static/img/gege.png" alt="">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">青牙</h4>
                <p class="weui-media-box__desc">喜欢学习编程语言却从不想做开发的测试从业人员，爱好游山玩水吃吃喝喝，生活有书有茶自得其乐～
                </p>
            <p href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">详细介绍</p>
            </div>
        </a>
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="/static/img/me.png" alt="">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">向晚</h4>
                <p class="weui-media-box__desc">学营销的研究僧，喜爱编程的文科生，刚刚启程，好奇且求知~</p>
                <p href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">详细介绍</p>
            </div>
        </a>
        <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
            <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="/static/img/guoshushu.png" alt="">
            </div>
            <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">焦糖</h4>
                <p class="weui-media-box__desc">喜欢理科，却选了文科；一直想做一名匠人，却在学笔译；喜欢吃米饭，却不知道哪里的好吃，纠结ing</p>
                <p href="javascript:;" class="weui-btn weui-btn_mini weui-btn_primary">详细介绍</p>
            </div>
        </a>
    </div>
</body>
</html>